body{
    background-color:#222222;
    -webkit-font-smoothing: antialiased;
}
#wrapper{
    width:750px;
    height:500px;
    background-image:url("images/inside.png");
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    border-style:solid;
    border-color:#555555;
}

#floorlist{
    width:500px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    min-height:400px;
    background-image:url("images/reflect.png");
}

.floor{
    width:500px;
    color:#EEEEEE;
    font-size:30pt;
    font-family:Verdana;
    padding:10px;
    height:40px;
}

#dialog{
    width:300px;
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:200px;
    background-color:white;
    padding:10px;
    text-align:center;
    -moz-box-shadow:    0px 0px 1px 1px #222;
    -webkit-box-shadow: 0px 0px 3px 1px #222;
    box-shadow:         0px 0px 3px 1px #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */    
}

#exit{
    width:480px;
    height:60px;
    padding:10px;
    font-size:25pt;
    background-color:#CCCCCC;
    margin-left:auto;
    margin-right:auto;
    font-family:Geneva;
    margin-top:10px;
    color:#333333;
}

input{
    height:60px;
    width:60px;
    border-radius:30px;
    background-color:red;
    margin-right:20px;
    float:left;
}
